
<% include partials/header %>

    <h1>Add Customer</h1>
    <form method ="POST" action = "/users/add"  > 
        <label>First Name </label> <br>   
        <input type = "text" name = "first_name">
        <br>
        <label>Last Name </label> <br>
        <input type = "text" name = "last_name">
        <br>
        <label>Email </label> <br>
        <input type = "text" name = "email">
        <br>
        <input type = "submit" value = "Submit">


    </form>
    <h3><%= title %></h1>
    <ul>
    <% users.forEach( function(user){    %>

        <li><%= user.first_name %>   
            <%= user.last_name %>   
        </li>

    <% })  %>
    </ul>
    
    <!-- this prints the users array, but because its an array object it needs to be iterated through to print the items -->
    <!-- this code cannot be contained by comments if the brackets are complete *left brace*%= users %> -->
         
   
<% include partials/footer %>


